@page "/stores/about/{StoreId:int}"
@layout StoreLayout
@inject IStoreService Store

<div class="col-11 card m-5">
    <div class="col-12 m-2">
        <a href="@($"stores/store/{StoreId}")">
            <h1 class="text-dark oi oi-circle-x"></h1>
        </a>
    </div>

    @if(Stores!=null)
    {
        <div class="">
            <h1>About Us</h1>
            <p>@description</p>
            <h1>Location</h1>
            <p>@Stores.Address</p>
        </div>
    }
</div>

@code
{
    [Parameter]
    public int StoreId { get; set; }

    private StoreDTO Stores;
    private string description;

    protected override async Task OnInitializedAsync()
    {
        Stores = await Store.GetStoreByIdAsync(StoreId);
        description = Stores.Description;
        // if(Stores.Description == null)
        // {
        //     description = "This store has no description";
        // }
        // else
        // {
        //     description = Stores.Description;
        // }
    }
}